# -*- mode: gitignore; -*-

### Manual exclusion ###

# These are only locally meaningful
bookmarks
projectile*

# Autogen'd; I don't want it
request/

# This is auto generated and should be ignored.
lit-init.el

# Don't include local custom file
init/custom/local-custom.el


### gitignore.io autogen'd ###

### Emacs ###

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive 

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el


### Elisp ###
# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

